<div layout:decorator="layouts/layout" layout:fragment="content">
    <h1>Todo List</h1>
    <ul>
        <li th:each="todo : ${todos}" class="list-unstyled">
            <span th:text="${todo.name}"></span>

            <form th:action="@{|/todo-list/${todo.id}|}" method="post" style="display: inline">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="btn btn-link" value="delete"/>
            </form>
        </li>
    </ul>

    <h4>Add a todo</h4>

    <div>
        <form th:action="@{|/todo-list|}" method="post">

            <label>
                <input type="text" name="name"/>
            </label>

            <input type="submit" />
        </form>
    </div>
</div>
